<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản lý Dịch vụ sử dụng</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<div align="center">
		<h1>Quản lý Dịch vụ sử dụng</h1>
		<h2>
			<a th:href="@{/quan-ly-dich-vu-su-dung}" class="btn btn-warning">Quay Lại</a>
		</h2>
		<hr>
	</div>
	<div align="center">
		<h2>Thông tin sinh viên</h2>
		<br>
		<table cellpadding="10">
			<tr class="text-left">
				<td>Tên</td>
				<td th:text="': ' + ${sv.ten}"></td>
			</tr>
			<tr class="text-left">
				<td>Lớp</td>
				<td th:text="': ' + ${sv.lop}"></td>
			</tr>
			<tr class="text-left">
				<td>Số CMT</td>
				<td th:text="': ' + ${sv.soCMT}"></td>
			</tr>
			<tr class="text-left">
				<td>Ngày sinh</td>
				<td th:text="': ' + ${sv.ngaysinh}">></td>
			</tr>
			<tr class="text-left">
				<td>Quê quán</td>
				<td th:text="': ' + ${sv.quequan}"></td>
			</tr>
		</table>
	</div>
	<hr>
	<div align="center">
		<h2>Danh sách dịch vụ sử dụng</h2>
		<h4>Thời gian từ <span th:text="${sDate}" ></span> đến <span th:text="${eDate}" ></span></h4>
		<br>
		<table border="1" cellpadding="5">
			<tr class="text-center">
				<th>Tên dịch vụ</th>
				<th>Tổng giá</th>
			</tr>
			<tr class="text-left" th:each="model : ${listModel}">
					<td th:utext="${model.ten}"></td>
					<td th:utext="${model.income}"></td>
			</tr>
		</table>
		<br>
	</div>
</body>
</html>