<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8" />
   <title>Quản lý khách đên chơi</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
   <div align="center">
      <h1>Chọn khách đến chơi:</h1>
       <Form method="GET" name="searchClient" th:action="@{/quanlykhach/tim-khach}">
         <input name="txtSearchClient" type="text" style="width: 200">
         <input name="subSearchClient" type="submit" class="btn btn-success" value="Tìm kiếm">
      </Form>
      <a th:href="@{/quanlykhach/them}"><Button>Thêm</Button></a>
      <form th:action="@{/quanlykhach/luu-ngay-den-choi}" method="post">
      <div class=”col-sm-6″>
         <table border="1px" cellpadding="5">
            <tr>
               <th>Số CMT</th>
               <th>Họ tên</th>
               <th>Ngày sinh</th>
               <th>Chọn</th>
            </tr>
 			<tr th:each="khach : ${khachs}">
               <td th:text="${khach.soCMT}"></td>
               <td th:text="${khach.ten}"></td>
               <td type="date" th:text="${#dates.format(khach.ngaysinh, 'dd-MM-yyyy')}"></td>
              <td><input type="checkbox" name="chon" th:value="${khach.id}"></td>   
              <td> <a th:value="${khach.id}" th:href="@{'/quanlykhach/sua/' + ${khach.id}}">Sửa</a> 
              <a th:value="${khach.id}" th:href="@{'/quanlykhach/xoa/' + ${khach.id}}">Xoá</a></td>
            </tr>
         </table>
        
      </div>
      <div>nhập ngày đến:</div>
      <input type="date" name="ngayden">
      <input type="submit" name="save" value="Lưu">
      </form>
      
   </div>
</body>

</html>