<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản lý Vé Thang</title>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<div align="center">
		<h1>Quản lý vé tháng</h1>
		<h2><a th:href="@{/quan-ly-ve-thang}" class="btn btn-warning">Danh sách vé tháng</a></h2>
		<hr>
	</div>
	<div align="center" th:unless="${veThang.id}">
		<h2>Thêm vé tháng</h2>
		<br>
		<form method="post" th:object="${veThang}">
			<table>
				<tr class="text-left">
					<td>tháng sử dụng</td>
					<td><input type="date" th:field="*{thoigiansd}" /></td>
				</tr>
				<tr class="text-left">
					<td>biển số xe</td>
					<td><input type="text" th:field="*{bienSo}" /></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Thêm" class="btn btn-success" />
		</form>
	</div>
	<div align="center" th:if="${veThang.id}">
		<h2>Sửa Vé Tháng</h2>
		<form method="POST" th:object="${veThang}">
			<table>
				<tr class="text-left">
					<td>id</td>
					<td th:text="${veThang.id}"></td>
				</tr>
				<tr class="text-left">
					<td>tháng sử dụng </td>
					<td><input type="date" th:field="*{thoigiansd}" /></td>
				</tr>
				<tr class="text-left">
					<td>xe id</td>
					<td th:text="${veThang.xeId}"></td>
<!--					<td><input type="tex" th:field="*{xeId}" /></td>-->
				</tr>
				<tr class="text-left">
					<td>biển số xe</td>
					<td><input type="text" th:field="*{bienSo}" /></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Lưu" class="btn btn-success" />
		</form>
	</div>
</body>
</html>